*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    font-size: 2rem;
    display: flex;
    flex-flow: column nowrap;
}

header {
    background-color: blue;
    position: sticky;
    top: 0;
    text-align: center;
}

main {
    background-color: blueviolet;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    /* place-content: center; */
    align-items: center;
}

footer {
    position: sticky;
    background-color: blue;
    bottom: 0;
    text-align: center;
}